
 process {
   executor='slurm'
   withName: trimming{
   clusterOptions = "--job-name=trim --time=12:00:00 --mem-per-cpu=20G --cpus-per-task=1"
   }
   withName: align{
   clusterOptions = "--job-name=align --time=36:00:00 --mem-per-cpu=20G --cpus-per-task=1"
   }
   withName: merge_sort{
   clusterOptions = "--job-name=merge_sort --time=12:00:00 --mem-per-cpu=20G --cpus-per-task=1"
   }
   withName: mark_dup{
   clusterOptions = "--job-name=mark_dup --time=24:00:00 --mem-per-cpu=20G --cpus-per-task=1"
   }
   withName: indel_realign{
   clusterOptions = "--job-name=indel_realign --time=12:00:00 --mem-per-cpu=20G --cpus-per-task=2"
   }
   withName: indel_realign_abra{
   clusterOptions = "--job-name=indel_realign_abra --time=48:00:00 --mem-per-cpu=4G --cpus-per-task=16"
   }
   withName: calc_stats{
   clusterOptions = "--job-name=calc_stats --time=12:00:00 --mem-per-cpu=12G --cpus-per-task=1"
   }       
   withName: genotyping{
   clusterOptions = "--job-name=geno --time=24:00:00 --mem-per-cpu=20G --cpus-per-task=4"
   } 
   withName: vcf_concat{
   clusterOptions = "--job-name=concat --time=24:00:00 --mem-per-cpu=10G --cpus-per-task=4"
   }
      withName: rename{
   clusterOptions = "--job-name=rename --time=12:00:00 --mem-per-cpu=10G --cpus-per-task=1"
   }
      withName: normalise{
   clusterOptions = "--job-name=norm --time=24:00:00 --mem-per-cpu=12G --cpus-per-task=2"
   } 
      withName: filter_vcf{
   clusterOptions = "--job-name=concat --time=12:00:00 --mem-per-cpu=12G --cpus-per-task=2"
   }
}
